<header>
  <h1 class="logo">
    <img src="../../../assets/images/logo.png" alt="Artlist logo" />
  </h1>
</header>
<main>
  <section class="lpSection lpSection-one">
    <div class="lpContent">
      <h2 class="lpHeader">We want your inspiring music</h2>
      <p class="lpText">
        Get your music into films, videos & TV all around the world. Join Artlist family
      </p>
      <button type="button" (click)="scrollDown()">arrow</button>
    </div>
  </section>
  <section class="lpSection lpSection-two">

  </section>
</main>
<a class="btn" [routerLink]="['/registration']">back</a>