<header>
  <h1 class="logo">
    <img src="../../../assets/images/logo.png" alt="Artlist logo" />
  </h1>
</header>
<main>
  <section class="lpSection lpSection-two">
    <div class="lpContent">
      <h2 class="lpHeader">Things to check before we start</h2>
      <ul class="checkList">
        <li class="lpText">
          You have full rights to the music
        </li>
        <li class="lpText">
          The music can be used on any platform
        </li>
        <li class="lpText">
          Your pres kit is complete with photos, bio and great
        </li>
      </ul>
      <a class="btn btn__yellow" [routerLink]="['/registration']">Start Now</a>
    </div>
    <div class="lpImage">
      <img src="../../../assets/images/albums.png" alt="albums" />
    </div>
  </section>
</main>