<section class="registration">
  <a class="back" [routerLink]="['/']">X</a>
  <form [formGroup]="registrationsForm" (ngSubmit)="onSubmit()" class="form">
    <div class="formContainer">
      <h2 class="lpSubHeader">Submit your music</h2>
      <div class="form-group">
        <mat-form-field class="form-element" [floatLabel]="'never'">
          <input matInput placeholder="Full Name" formControlName="artistName" class="basicField">
          <mat-error *ngIf="!registrationsForm.controls['artistName'].valid && registrationsForm.controls['artistName'].touched">
            * required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="form-element" [floatLabel]="'never'">
          <input matInput placeholder="Email" formControlName="artistEmail" class="basicField">
          <mat-error *ngIf="!registrationsForm.controls['artistEmail'].valid && registrationsForm.controls['artistEmail'].touched">
            * not valid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field [floatLabel]="'never'">
          <mat-select formControlName="country" class="basicField" placeholder="Country">
            <mat-option *ngFor="let country of countries" [value]="country.value">
              {{country.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field [floatLabel]="'never'">

          <textarea matInput formControlName="bio" class="basicField" placeholder="Bio"></textarea>
          <mat-error *ngIf="!registrationsForm.controls['artistEmail'].valid && registrationsForm.controls['artistEmail'].touched">
            * not valid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field [floatLabel]="'never'">
          <mat-select formControlName="profession" class="basicField" placeholder="What do you do">
            <mat-option *ngFor="let profession of professions" [value]="profession.value">
              {{profession.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="formContainer">
      <h3 class="fieldTitle">
        Upload music
        <span class="remark">4-6songs</span>
      </h3>
      <div class="files-list" formArrayName="files" *ngFor="let file of files.controls;let i= index">
        <p [formGroupName]="i"> {{ file.value.name }} </p>
        <button class="delete-file" (click)="deleteAttachment(i)">
          remove
        </button>
      </div>
      <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
        <h4 class="containerTitle">
          <span class="yellow">Click to upload</span> or drag and drop here
        </h4>
        <input hidden type="file" #fileInput id="files" accept="audio/*" multiple (change)="uploadFile($event.target.files)">
      </div>

      <div class="rights">
        <mat-checkbox formControlName="fullRights">I have full rigth for the music</mat-checkbox>
        <mat-checkbox formControlName="notUsed">None of the songs are a cover of another artist's material</mat-checkbox>
        <mat-checkbox formControlName="clearForUse">The music is clear for use in any web platform, include Youtube monetization</mat-checkbox>
        <mat-error *ngIf="!registrationsForm.controls['clearForUse'].valid && registrationsForm.controls['clearForUse'].touched">
          * required
        </mat-error>
      </div>
      <div class="form-group">
        <button class="btn btn__yellow">Submit</button>
      </div>
    </div>
  </form>
</section>